<h1 class="jumbotron text-center">Result</h1>

<% if @included %>
  <% if @english_word %>
    <p class="align-center"><strong>Congratulations!</strong> <%= @word %> is a valid English word!</p>
  <% else %>
    <p class="align-center">Sorry but <strong><%= @word %></strong> does not seem to be a valid English word...</p>
  <% end %>
<% else %>
  <p class="align-center">Sorry but <strong><%= @word %></strong> can't be built out of <%= @letters.join(", ") %></p>
<% end %>

<p class="align-center"><%= link_to "Play again", new_path %></p>
